<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>考研交流平台</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/community.css">
    <script src="/static/js/jquery-3.7.1.min.js" type="application/javascript"></script>
    <script src="/static/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="jumbotron">
    <h1>出错了</h1>
    <p th:text="${message}">请联系管理员：17390308058</p>
    <p><a class="btn-primary btn-lg" href="/" role="button">回到主页</a></p>
</div>
</body>
</html>